	<!--Requirement jQuery-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!--Load Script and Stylesheet -->
	<script type="text/javascript" src="assets/dtp/jquery.simple-dtpicker.js"></script>
	<link type="text/css" href="assets/dtp/jquery.simple-dtpicker.css" rel="stylesheet" />
<style type="text/css">
	.amChartsPeriodSelector.amcharts-period-selector-div{
		color: white;
	}
	.amChartsPeriodSelector.amcharts-period-selector-div input{
		color: black;
	}
	.amcharts-start-date-input, .amcharts-end-date-input{
		/*visibility: hidden;*/
	}
	#fromTime, #toTime, #btnApply{
		/*visibility: hidden;*/
		display: none;
		position: absolute;
		width: 150px;
		text-align: center;
	}
	#btnApply{
		width: 5em!important;
	}
	.datepicker_header .icon-home, .datepicker_header .icon-close{
		width: 32px !important;
		height: 32px !important;
	}
	.amcharts-chart-div a{
		display: none!important;
	}
</style>
<!-- <div class="col-md-12" ba-panel ng-controller="techanChartCtrl"> -->
	<!-- <input type="text" id="dtpickerEdit" name=""> -->
	<div ng-controller="techanChartCtrl">
		<div id="techanChart" class="admin-chart">
		</div>
	</div>
	<div ng-controller="techanChartCtrl">
		<!-- <input type="text" name="" id="datetime" /> -->
		<div style="position: absolute; top: 5px; left: 60px;">
			<img src="assets/img/app/my-app-logo.png" style="width: 50px;cursor: pointer;" ng-click="predictionShow()">
		</div>
		<input type="text" id="fromTime">
		<input type="text" id="toTime">
		<input type="submit"  id="btnApply" class="btn-success" value="Apply" ng-click="onApply()" />
	</div>
<!-- </div> -->
<script type="text/javascript">
	var interval;
	$("#fromTime").appendDtpicker({ closeOnSelected: true});
	$("#toTime").appendDtpicker({ closeOnSelected: true});
	function BindingEvent(){
		$(".amcharts-start-date-input").on('click', function(){
			$("#fromTime").show();
			$("#fromTime").val($(".amcharts-start-date-input").val());
		});
		$(".amcharts-end-date-input").on('click', function(){
			$("#toTime").show();
			$("#toTime").val($(".amcharts-end-date-input").val());
		});
	}
	function eventMatching(){
		// BindingEvent();
		$("#fromTime").offset({ top: $("#techanChart").height() - 10, left: 52});
		$("#toTime").offset({ top: $("#techanChart").height() - 10, left: 220});
		$("#btnApply").offset({ top: $("#techanChart").height() - 10, left: 400});
		$("#btnApply").show();
	}
	$('#fromTime').change(function() {
		setTimeout(function(){
			if( $(".datepicker").eq(0).is(':visible') ){
				return;
			}
			$(".amcharts-start-date-input").val($("#fromTime").val());
			$("#fromTime").hide();
			$(".amcharts-start-date-input").focus();
			BindingEvent();
		}, 500);
	});
	$('#toTime').change(function() {
		setTimeout(function(){
			if( $(".datepicker").eq(1).is(':visible') ){
				return;
			}
			$(".amcharts-end-date-input").val($("#toTime").val());
			$("#toTime").hide();
			$(".amcharts-end-date-input").focus();
			BindingEvent();
		}, 500);
	});

	interval = setInterval(function(){
		var dateinput = $(".amcharts-start-date-input");
		if( dateinput.length != 0){
			console.log('deteted.');
			eventMatching();
			clearInterval(interval);
		}
	}, 1000);
</script>