<div class="row market-table-class">
  <div class="market-header col-xs-12">
    <label class="col-xs-4">MARKETS</label>
    <div class="col-xs-8">
      <div style="font-size: 1.5em; background-color: white; border-radius: 5px; padding: 5px;"><span style="color: rgba(180, 218, 215);"><i class="fa fa-search"></i></span><input type="text" id="filterBox" name="" style="height: 1.2em;margin-left: 5px; width: calc(100% - 25px); background: none; border:none;" placeholder="Filter" ng-model="strFilter"></div>
    </div>
  </div>
  <div class="market-table-body">
    <div class="btn-group">
      <div ng-repeat="Currency in lstCurrencies" style="float: left;">
        <button class="btn market-currency-type {{currency_type == $index ? 'active' : ''}}" ng-click="setCurrencyType($index)">{{Currency}}</button>
      </div>

    </div>
  </div>
  <div ba-panel-class="with-scroll" style="height: 410px; overflow: auto;border-top: 3px solid #ffaa15;">
    <table class="fixed_headers">
      <thead fix-head>
        <tr>
          <!-- <th><i class="fa fa-star" aria-hidden="true"></i></th> -->
          <th>Coin</th>
          <th>Price</th>
          <th>Volume</th>
          <th>Change</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="curRecord in curCurrencyList | filter:{coin : strFilter}" class="{{isActiveCurrency(curRecord.coin) ? 'activeCurrency' : ''}}" ng-click="onCryptoClick(curRecord)" style="cursor: pointer;">
          <td>{{curRecord.coin}}</td>
          <td>{{curRecord.price}}</td>
          <td>{{curRecord.volume}}</td>
          <td ng-class="{plusVal:curRecord.change > 0, minusVal:curRecord.change < 0}">{{curRecord.change}}</td>
          <td>{{curRecord.name}}</td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>